@{
    ViewBag.Title = "Fees";
}
<h2>Membership Fees</h2>
<table class="table table-bordered">
    <tr><th>Plan</th><th>Price</th></tr>
    <tr><td>Monthly</td><td>$50</td></tr>
    <tr><td>Quarterly</td><td>$135</td></tr>
    <tr><td>Yearly</td><td>$500</td></tr>
</table>